body {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    //overflow-x: hidden;
}

/* INICIO ESTILIZAÇÃO DE CADASTRO */

.cad {
	width: 100%;
	padding-top: 50px;
	margin: 0 auto;
}
.cad div{
	padding: 5px 5px;
}

.cad label {
	color: white;
	width: 20%;
	max-width: 30%;
	text-align: left;
}

.cad input {
	width: 20em;
	height: 2em;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.cad option,select{
	width: 20em;
	height: 1.75em;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.cad button{
	margin-left: 10px;
	padding: 5px 5px;
}


/* FIM ESTILIZAÇÃO DE CADASTRO */

.animated {
    animation-duration: 2s !important;
}

.navbar {
    width: 100%;
    height: 90px;
    background-color: rgba(255, 255, 255, 1);
    padding-top: 15px;
    padding-left: 120px;
    padding-right: 120px;
}

.navbar .logo-menu {
    width: 200px;
}

.navbar .navbar-brand {
    padding: 0;
}

.navbar-default .navbar-nav > li > a {
    font-size: 16px !important;
    padding-bottom: 0;
    padding-top: 20px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #0078d7;
}

.navbar-toggle {
    border: none;
}

.navbar-toggle:hover {
    background-color: #FFF !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #0078d7;
    color: #0078d7;
}

.copy h6 {
    text-align: center !important;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.7);
    height: 70px;
    padding-top: 28px;
}

.copy {
    background-color: #FFF;
    height: 70px;
}

/* ====================== 1366 PX =========================*/
@media (min-width: 1366px) {
    .container {
        height: 768px;
    }
    .container .logo {
        width: 300px;
        height: 300px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 100%;
        margin-top: 10%;
        margin-bottom: 20px;
    }

    .container .logo img {
        position: relative;
        top: 65px;
    }

    .container .mais {
        width: 200px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 50px;
    }
    
    .container .mais {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        padding: 10px;
    }

    .container .mais:hover {
        background-color: #FFF;
        cursor: pointer;
    }

    .container a {
        color: black;
    }

    .container a:hover {
        text-decoration: none;
    }

    .containerTwo {
        background-color: #0078d7;
        padding-right: 50px;
        padding-left: 50px;
        height: 740px !important;
    }

    .containerTwo .info {
        width: 50%;
        height: 450px;
        //background-color: rgba(255, 255, 255, 0.9);
        margin-top: 10%;
        padding: 30px;
        padding-top: 20px;
    }

    .containerTwo .info .row {
        margin-bottom: 30px;
    }

    .containerTwo .info img {
        width: 80px;
        float: left;
    }

    .containerTwo .info span {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: #FFF;
        font-weight: bold;
        position: relative;
        top: 25px;
    }

    .containerTwo .login {
        width: 45%;
        height: 450px;
        background-color: rgba(255, 255, 255, 0.9);
        margin-top: 10%;
        margin-bottom: 9%;
        float: right;
        border-radius: 10px;
        text-align: center;
        padding: 30px;
        padding-top: 60px;
    }
    
    .containerTwo .row {
        text-align: center;
    }

    .containerTwo .login h2 {
        font-family: 'Open Sans', sans-serif;
        color: black;
        color: #0078d7;
    }

    .containerTwo .login .row input {
        width: 70%;
        height: 40px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        outline: none;
        border: #0078d7 solid 1px;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.9);
        color: #0078d7;
    }

    .containerTwo .login .col-md-12 {
        margin-top: 20px;
    }

    .containerTwo .login .es-senha {
        float: right;
        margin-right: 16%;
        margin-top: 5px;
        font-size: 12px;
        color: #0078d7;
        font-weight:bold;
        font-family: 'Open Sans', sans-serif;
    }

    .containerTwo .login .es-senha:hover {

    }

    .containerTwo .login .row-btn {
        margin-top: 30px;
    }

    .containerTwo .login button {
        width: 70%;
        height: 40px;
        border: solid 1px #0078d7;
        border-radius: 20px;
        color: #0078d7;
    }

    .containerTwo .login button:hover {
        border: transparent;
        background-color: #0078d7;
        color: #FFF;
    }

    .containerTwo .login button[type=submit] {
        float: right;
    }

    .containerTwo .login button[type="button"] {
        float: left;
    }

    footer {
        width: 100%;
        height: 330px;
        background-color: #FFF;
    }

    footer .row .col-md-4 {
        padding-top: 60px;
        padding-left: 150px;
        text-align: center;
    }
    
    footer .row .menu-footer {
        text-align: left;
        font-family: 'Open Sans', sans-serif;
        font-size: 17px;
        padding-left: 100px;
    }

    footer .row .menu-footer h6 {
        font-size: 18px;
        margin-left: 30px;
        font-weight: bold;
        color: black;
    }

    footer .row .menu-footer ul li {
        list-style-image: url("../img/icon/arrow-left.svg");
        margin-bottom: 10px;
    }

    footer .row .menu-footer ul a {
        color: black;
    }

    footer .row .menu-footer ul a:hover {
        text-decoration: none;
        color: #0078d7;
    }

    footer .row .form-footer {
        padding-left: 0;
        padding-right: 120px;
    }

    footer .row .form-footer h6 {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        color: black;
    }

    footer .row .form-footer input {
        width: 80%;
        height: 40px;
        font-size: 17px;
        outline: none;
        text-align: center;
        border: 1px solid #0078d7;
        //border-left: 15px solid #0078d7;
        border-radius: 2px;
        float: left;
        position: relative;
        left: 2px;
    }

    footer .row .form-footer button {
        height: 40px;
        border: 1px solid #0078d7;
        background-color: #0078d7;
        border-radius: 2px;
        color: #FFF;
        position: relative;
        right: 18px !important;
    }

    footer .row .form-footer img {
        width: 150px;
    }

    .copy h6 {
        font-size: 16px;
    }
}



/* ====================== 1024 PX =========================*/
@media (min-width: 1024px) {
    .navbar {
        padding-left: 90px;
        padding-right: 80px;
    }

    .container {
        height: 768px;
    }

    .container .logo {
        width: 300px;
        height: 300px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 100%;
        margin-top: 15%;
        margin-bottom: 20px;
    }

    .container .logo img {
        position: relative;
        top: 65px;
    }

    .container .mais {
        width: 200px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 50px;
    }

    .container .mais {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        padding: 10px;
    }

    .container .mais:hover {
        background-color: #FFF;
        cursor: pointer;
    }

    .container a {
        color: black;
    }

    .container a:hover {
        text-decoration: none;
    }

    .containerTwo {
        background-color: #0078d7;
        padding-right: 50px;
        padding-left: 50px;
        height: 650px;
    }

    .containerTwo .info {
        width: 50%;
        height: 480px;
        margin-top: 10%;
        padding: 30px;
        padding-top: 20px;
    }

    .containerTwo .info .row {
        margin-bottom: 30px;
    }

    .containerTwo .info img {
        width: 80px;
        float: left;
    }

    .containerTwo .info span {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: #FFF;
        font-weight: bold;
        position: relative;
        top: 25px;
    }

    .containerTwo .login {
        width: 45%;
        height: 450px;
        background-color: rgba(255, 255, 255, 0.9);
        margin-top: 10%;
        margin-bottom: 8%;
        float: right;
        border-radius: 4px;
        text-align: center;
        padding: 30px;
        padding-top: 60px;
    }

    .containerTwo .row {
        text-align: center;
    }

    .containerTwo .login h2 {
        font-family: 'Open Sans', sans-serif;
        color: black;
        color: #0078d7;
    }

    .containerTwo .login .row input {
        width: 90%;
        height: 40px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        outline: none;
        border: #0078d7 solid 1px;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.9);
        color: #0078d7;
    }

    .containerTwo .login .col-md-12 {
        margin-top: 20px;
    }

    .containerTwo .login .es-senha {
        float: right;
        margin-right: 16%;
        margin-top: 5px;
        font-size: 12px;
        color: #0078d7;
        font-weight:bold;
        font-family: 'Open Sans', sans-serif;
    }

    .containerTwo .login .es-senha:hover {

    }

    .containerTwo .login .row-btn {
        margin-top: 30px;
    }

    .containerTwo .login button {
        width: 100%;
        height: 40px;
        border: solid 1px #0078d7;
        border-radius: 20px;
        color: #0078d7;
    }

    .containerTwo .login button:hover {
        border: transparent;
        background-color: #0078d7;
        color: #FFF;
    }

    .containerTwo .login button[type=submit] {
        float: right;
    }

    .containerTwo .login button[type="button"] {
        float: left;
    }

    footer {
        width: 100%;
        height: 330px;
        background-color: #FFF;
    }

    footer .row {
        width: 100%;
    }

    footer .row .col-md-4 {
        padding-top: 60px;
        padding-left: 50px;
        text-align: center;
    }

    footer .row .menu-footer {
        text-align: left;
        font-family: 'Open Sans', sans-serif;
        font-size: 17px;
        padding-left: 50px;
    }

    footer .row .menu-footer h6 {
        font-size: 18px;
        margin-left: 30px;
        font-weight: bold;
        color: black;
    }

    footer .row .menu-footer ul li {
        list-style-image: url("../img/icon/arrow-left.svg");
        margin-bottom: 10px;
    }

    footer .row .menu-footer ul a {
        color: black;
    }

    footer .row .menu-footer ul a:hover {
        text-decoration: none;
        color: #0078d7;
    }

    footer .row .form-footer {
        padding-left: 0;
        padding-right: 0px;
    }

    footer .row .form-footer h6 {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        color: black;
    }

    footer .row .form-footer input {
        width: 75%;
        height: 40px;
        font-size: 15px;
        outline: none;
        text-align: center;
        border: 1px solid #0078d7;
        //border-left: 15px solid #0078d7;
        border-radius: 2px;
        float: left;
        position: relative;
        left: 2px;
    }

    footer .row .form-footer button {
        height: 40px;
        border: 1px solid #0078d7;
        background-color: #0078d7;
        border-radius: 2px;
        color: #FFF;
        position: relative;
        right: 8px;
    }

    footer .row .form-footer img {
        width: 150px;
    }
}

/* ====================== 768 PX =========================*/
@media (min-width: 768px) and (max-width: 1023px) {
    html {
        height: 1000px;
    }

    .navbar {
        padding-left: 50px;
        padding-right: 40px;
    }

    .container {
        height: 768px;
    }

    .container .logo {
        width: 300px;
        height: 300px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 100%;
        margin-top: 20%;
        margin-bottom: 20px;
    }

    .container .logo img {
        position: relative;
        top: 65px;
    }

    .container .mais {
        width: 200px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 50px;
    }

    .container .mais {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        padding: 10px;
    }

    .container .mais:hover {
        background-color: #FFF;
        cursor: pointer;
    }

    .container a {
        color: black;
    }

    .container a:hover {
        text-decoration: none;
    }

    .containerTwo {
        background-color: #0078d7;
        padding-right: 20px;
        padding-left: 20px;
        height: 650px;
    }

    .containerTwo .info {
        width: 50%;
        height: 480px;
        //background-color: rgba(255, 255, 255, 0.9);
        margin-top: 10%;
        padding: 0;
        padding-top: 20px;
    }

    .containerTwo .info .row {
        margin-bottom: 30px;
    }

    .containerTwo .info img {
        width: 80px;
        float: left;
    }

    .containerTwo .info span {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: #FFF;
        font-weight: bold;
        position: relative;
        top: 25px;
    }

    .containerTwo .login {
        width: 45%;
        height: 400px;
        background-color: rgba(255, 255, 255, 0.9);
        margin-top: 14%;
        margin-bottom: 8%;
        float: right;
        border-radius: 10px;
        text-align: center;
        padding: 0 ;
        padding-top: 45px;
    }

    .containerTwo .row {
        text-align: center;
    }

    .containerTwo .login h2 {
        font-family: 'Open Sans', sans-serif;
        color: black;
        color: #0078d7;
    }

    .containerTwo .login .row input {
        width: 90%;
        height: 40px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        outline: none;
        border: #0078d7 solid 1px;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.9);
        color: #0078d7;
    }

    .containerTwo .login .col-md-12 {
        margin-top: 20px;
    }

    .containerTwo .login .es-senha {
        float: right;
        margin-right: 10%;
        margin-top: 5px;
        font-size: 12px;
        color: #0078d7;
        font-weight:bold;
        font-family: 'Open Sans', sans-serif;
    }

    .containerTwo .login .es-senha:hover {

    }

    .containerTwo .login .row-btn {
        margin-top: 30px;
    }

    .containerTwo .login button {
        width: 80%;
        height: 40px;
        border: solid 1px #0078d7;
        border-radius: 20px;
        color: #0078d7;
        margin-bottom: 10px;
    }

    .containerTwo .login button[type=submit] {
        float: right;
    }

    .containerTwo .login button[type="button"] {
        float: left;
    }

    .containerTwo .login button:hover {
        border: transparent;
        background-color: #0078d7;
        color: #FFF;
    }

    .containerTwo .login .row-btn .col-sm-6 {
        padding: 5px;
    }

    footer {
        width: 100%;
        height: 330px;
        background-color: #FFF;
    }

    footer .row {
        width: 100%;
    }

    footer .row {
        height: 330px;
    }

    footer .row .col-md-4 {
        padding-top: 60px;
        //padding-left: 50px;
        text-align: center;
    }

    footer .row .logo-footer h5 {
        font-size: 12px;
    }

    footer .row .logo-footer {
        position: relative;
        left: 3%;
        top: 20px;
    }

    footer .row .menu-footer {
        text-align: left;
        font-family: 'Open Sans', sans-serif;
        font-size: 17px;
        //padding-left: 50px;
        position: relative;
        top: 10px;
    }

    footer .row .menu-footer h6 {
        font-size: 13px;
        margin-left: 30px;
        font-weight: bold;
        color: black;
    }

    footer .row .menu-footer ul li {
        list-style-image: url("../img/icon/arrow-left.svg");
        margin-bottom: 10px;
        font-size: 14px;
    }

    footer .row .menu-footer ul a {
        color: black;
    }

    footer .row .menu-footer ul a:hover {
        text-decoration: none;
        color: #0078d7;
    }

    footer .row .form-footer {
        position: relative;
        right: 10px;
        height: 330px;
        padding-left: 0;
        padding-right: 0;
    }

    footer .row form .row {
        height: 100px;
    }

    footer form .col-md-12 {
        padding: 0;
    }

    footer .row .form-footer h6 {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        color: black;
    }

    footer .row .form-footer input {
        width: 70%;
        height: 40px;
        font-size: 12px;
        outline: none;
        text-align: center;
        border: 1px solid #0078d7;
        //border-left: 15px solid #0078d7;
        border-radius: 2px;
        float: left;
        position: relative;
        left: 2px;
    }

    footer .row .form-footer button {
        height: 40px;
        border: 1px solid #0078d7;
        background-color: #0078d7;
        border-radius: 2px;
        color: #FFF;
        position: relative;
        right: 8px;
    }

    footer .row .form-footer img {
        width: 150px;
    }
}

/* ====================== 640 PX =========================*/
@media (min-width: 640px) and (max-width: 767px) {
    .navbar {
        padding-left: 50px;
        padding-right: 30px;
    }

    .containerTwo .login .row-btn button {
        width: 40%;
    }

    .containerTwo .info {
        width: 100% !important;
    }

    .containerTwo .login .row-btn button {
        width: 80%;
    }

    footer .form-footer h6 {
        font-size: 16px !important;
    }

    html {
        height: 1000px;
    }

    .containerTwo {
        height: auto;
    }

    .container {
        height: 768px;
    }

    .container .logo {
        width: 300px;
        height: 300px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 100%;
        margin-top: 20%;
        margin-bottom: 20px;
    }

    .container .logo img {
        position: relative;
        top: 65px;
    }

    .container .mais {
        width: 200px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 50px;
    }

    .container .mais {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        padding: 10px;
    }

    .container .mais:hover {
        background-color: #FFF;
        cursor: pointer;
    }

    .container a {
        color: black;
    }

    .container a:hover {
        text-decoration: none;
    }

    .containerTwo {
        background-color: #0078d7;
        padding: 40px;
    }

    .containerTwo .info {
        width: 50%;
        height: 480px;
        margin-top: 10%;
        padding: 0;
        padding-top: 20px;
    }

    .containerTwo .info .row {
        margin-bottom: 30px;
    }

    .containerTwo .info img {
        width: 80px;
        float: left;
    }

    .containerTwo .info span {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        color: #FFF;
        font-weight: bold;
        position: relative;
        top: 25px;
    }

    .containerTwo .login {
        height: 400px;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 4px;
        text-align: center;
        padding: 0 ;
        padding-top: 40px;
        float: none;
        width: 80%;
        margin-bottom: 100px;
        margin-top: 50px;
    }

    .containerTwo .row {
        text-align: center;
    }

    .containerTwo .login h2 {
        font-family: 'Open Sans', sans-serif;
        color: black;
        color: #0078d7;
    }

    .containerTwo .login .row input {
        width: 90%;
        height: 40px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        outline: none;
        border: #0078d7 solid 1px;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.9);
        color: #0078d7;
    }

    .containerTwo .login .col-md-12 {
        margin-top: 20px;
    }

    .containerTwo .login .es-senha {
        float: right;
        margin-right: 10%;
        margin-top: 5px;
        font-size: 12px;
        color: #0078d7;
        font-weight:bold;
        font-family: 'Open Sans', sans-serif;
    }

    .containerTwo .login .es-senha:hover {

    }

    .containerTwo .login .row-btn {
        margin-top: 30px;
    }

    .containerTwo .login button {
        width: 80%;
        height: 40px;
        border: solid 1px #0078d7;
        border-radius: 20px;
        color: #0078d7;
        margin-bottom: 10px;
    }

    .containerTwo .login button[type=submit] {
        float: right;
    }

    .containerTwo .login button[type="button"] {
        float: left;
    }

    .containerTwo .login button:hover {
        border: transparent;
        background-color: #0078d7;
        color: #FFF;
    }

    .containerTwo .login .row-btn .col-sm-6 {
        padding: 5px;
    }

    footer {
        width: 100%;
        height: auto;
        background-color: #FFF;
        //padding-left: 15%;
    }

    footer .row {
        width: 100%;
        padding-left: 30px;
    }

    footer .row .col-md-4 {
        padding-top: 60px;
        //padding-left: 50px;
        text-align: center;
        width: 100%;
    }

    footer .row .logo-footer h5 {
        font-size: 12px;
    }

    footer .row .logo-footer {
        position: relative;
        left: 3%;
        top: 20px;
        width: 50%;
    }

    footer .row .menu-footer {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 17px;
        position: relative;
        top: 10px;
        width:  40%;
    }

    footer .row .menu-footer h6 {
        font-size: 18px;
        margin-left: 30px;
        font-weight: bold;
        color: black;
        text-align: left;
    }

    footer .row .menu-footer ul li {
        list-style-image: url("../img/icon/arrow-left.svg");
        margin-bottom: 10px;
        font-size: 17px;
        width: 200px;
        text-align: left;
    }

    footer .row .menu-footer ul {
        //padding-left: 42.5%;
    }

    footer .row .menu-footer ul a {
        color: black;
    }

    footer .row .menu-footer ul a:hover {
        text-decoration: none;
        color: #0078d7;
    }

    footer .row .form-footer {
        position: relative;
        right: 30px;
        height: 330px;
        text-align: center;
        width: 90% !important;
        float: right;
    }

    footer .row form .row {
        height: 100px;
    }

    footer form .col-md-12 {
        padding: 0;
    }

    footer .row .form-footer h6 {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        color: black;
    }

    footer .row .form-footer input {
        width: 70%;
        height: 40px;
        font-size: 14px;
        outline: none;
        text-align: center;
        border: 1px solid #0078d7;
        border-radius: 2px;
        float: left;
        position: relative;
        left: 26px;
    }

    footer .row .form-footer button {
        height: 40px;
        border: 1px solid #0078d7;
        background-color: #0078d7;
        border-radius: 2px;
        color: #FFF;
        position: relative;
        right: 30px;
    }

    footer .row .form-footer img {
        width: 150px;
    }
}

/* ====================== 480PX =========================*/
@media (min-width: 480px) and (max-width: 639px) {
    .navbar {
        padding-left: 30px;
        padding-right: 20px;
    }

    .containerTwo .login .row-btn button {
        width: 40%;
    }

    .containerTwo .info {
        width: 100% !important;
    }

    .containerTwo .login .row-btn button {
        width: 80%;
    }

    footer .form-footer h6 {
        font-size: 16px !important;
    }

    html {
        height: 1000px;
    }

    .containerTwo {
        height: auto;
    }

    .container {
        height: 768px;
    }

    .container .logo {
        width: 300px;
        height: 300px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 100%;
        margin-top: 25%;
        margin-bottom: 20px;
    }

    .container .logo img {
        position: relative;
        top: 65px;
    }

    .container .mais {
        width: 200px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 50px;
    }

    .container .mais {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        padding: 10px;
    }

    .container .mais:hover {
        background-color: #FFF;
        cursor: pointer;
    }

    .container a {
        color: black;
    }

    .container a:hover {
        text-decoration: none;
    }

    .containerTwo {
        background-color: #0078d7;
        padding: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .containerTwo .info {
        width: 50%;
        height: 480px;
        margin-top: 10%;
        padding: 0;
        padding-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .containerTwo .info .row {
        margin-bottom: 30px;
    }

    .containerTwo .info img {
        width: 80px;
        float: left;
    }

    .containerTwo .info span {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        color: #FFF;
        font-weight: bold;
        position: relative;
        top: 25px;
    }

    .containerTwo .login {
        height: 400px;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 4px;
        text-align: center;
        padding: 0 ;
        padding-top: 40px;
        float: none;
        width: 100% !important;
        margin-bottom: 100px;
        margin-top: 50px;
    }

    .containerTwo .row {
        text-align: center;
    }

    .containerTwo .login h2 {
        font-family: 'Open Sans', sans-serif;
        color: black;
        color: #0078d7;
    }

    .containerTwo .login .row input {
        width: 90%;
        height: 40px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        outline: none;
        border: #0078d7 solid 1px;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.9);
        color: #0078d7;
    }

    .containerTwo .login .col-md-12 {
        margin-top: 20px;
    }

    .containerTwo .login .es-senha {
        float: right;
        margin-right: 10%;
        margin-top: 5px;
        font-size: 12px;
        color: #0078d7;
        font-weight:bold;
        font-family: 'Open Sans', sans-serif;
    }

    .containerTwo .login .es-senha:hover {

    }

    .containerTwo .login .row-btn {
        margin-top: 30px;
    }

    .containerTwo .login button {
        width: 80%;
        height: 40px;
        border: solid 1px #0078d7;
        border-radius: 20px;
        color: #0078d7;
        margin-bottom: 10px;
    }

    .containerTwo .login button[type=submit] {
        float: right;
    }

    .containerTwo .login button[type="button"] {
        float: left;
    }

    .containerTwo .login button:hover {
        border: transparent;
        background-color: #0078d7;
        color: #FFF;
    }

    .containerTwo .login .row-btn .col-sm-6 {
        padding: 5px;
    }

    footer {
        width: 100%;
        height: auto;
        background-color: #FFF;
    }

    footer .row {
        width: 96%;
        margin-right: 0;
    }

    footer .row .col-md-4 {
        padding-top: 60px;
        text-align: center;
        width: 100%;
    }

    footer .row .logo-footer h5 {
        font-size: 12px;
    }

    footer .row .logo-footer {
        position: relative;
        left: 3%;
        top: 20px;
        width: 50%;
    }

    footer .row .menu-footer {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 17px;
        position: relative;
        top: 10px;
        width:  40%;
    }

    footer .row .menu-footer h6 {
        font-size: 15px;
        margin-left: 30px;
        font-weight: bold;
        color: black;
        text-align: left;
    }

    footer .row .menu-footer ul li {
        list-style-image: url("../img/icon/arrow-left.svg");
        margin-bottom: 10px;
        font-size: 13px;
        width: 200px;
        text-align: left;
    }

    footer .row .menu-footer ul a {
        color: black;
    }

    footer .row .menu-footer ul a:hover {
        text-decoration: none;
        color: #0078d7;
    }

    footer .row .form-footer {
        position: relative;
        left: 16%;
        height: 330px;
        text-align: center;
        width: 91% !important;
    }

    footer .row form .row {
        height: 100px;
    }

    footer form .col-md-12 {
        padding: 0;
    }

    footer .row .form-footer h6 {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        color: black;
    }

    footer .row .form-footer input {
        width: 81%;
        height: 40px;
        font-size: 14px;
        outline: none;
        text-align: center;
        border: 1px solid #0078d7;
        border-radius: 2px;
        float: left;
        position: relative;
        left: 26px;
    }

    footer .row .form-footer button {
        height: 40px;
        border: 1px solid #0078d7;
        background-color: #0078d7;
        border-radius: 2px;
        color: #FFF;
        position: relative;
        right: 30px;
    }

    footer .row .form-footer img {
        width: 150px;
    }

    .copy h6 {
        font-size: 12px !important;
    }
}

/* ====================== 320PX =========================*/
@media (min-width: 320px) and (max-width: 439px) {
    body {
        //background-image: url(../img/fundo/fundo02.png);
        background-position: 50%;
    }

    .navbar {
        padding-left: 20px;
        padding-right: 10px;
    }

    .navbar .logo-menu {
        width: 150px;
        position: relative;
        top: 5px;
    }

    .containerTwo .login .row-btn button {
        width: 40%;
    }

    .containerTwo .info {
        width: 100% !important;
    }

    .containerTwo .login .row-btn button {
        width: 80%;
    }

    footer .form-footer h6 {
        font-size: 16px !important;
    }

    html {
        height: 1000px;
    }

    .containerTwo {
        height: auto;
    }

    .container {
        height: 600px;
    }

    .container .logo {
        width: 200px;
        height: 200px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 100%;
        margin-top: 35%;
        margin-bottom: 20px;
    }

    .container .logo img {
        position: relative;
        top: 43px;
        width: 50%;
    }

    .container .mais {
        width: 150px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 50px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        padding: 10px;
    }

    .container .mais:hover {
        background-color: #FFF;
        cursor: pointer;
    }

    .container a {
        color: black;
    }

    .container a:hover {
        text-decoration: none;
    }

    .containerTwo {
        background-color: #0078d7;
        padding: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .containerTwo .info {
        width: 100%;
        height: 400px;
        margin-top: 10%;
        padding: 0;
        padding-top: 20px;
    }

    .containerTwo .info .row {
        margin-bottom: 30px;
        margin-right: 2px !important;
    }

    .containerTwo .info img {
        width: 60px;
        float: left;
    }

    .containerTwo .info span {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        color: #FFF;
        font-weight: bold;
        position: relative;
        top: 10px;
    }

    .containerTwo .login {
        height: 400px;
        //background-color: rgba(255, 255, 255, 0.9);
        border-top: 4px solid #FFF;
        border-bottom: 4px solid #FFF;
        //border-radius: 10px;
        text-align: center;
        padding: 0 ;
        padding-top: 40px;
        float: none;
        width: 100% !important;
        margin-bottom: 100px;
        margin-top: 30px;
    }

    .containerTwo .row {
        text-align: center;
        width: 99%;
    }

    .containerTwo .login h2 {
        font-family: 'Open Sans', sans-serif;
        color: black;
        //color: #0078d7;
        color: #FFF;
    }

    .containerTwo .login .row input {
        width: 90%;
        height: 40px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        outline: none;
        border: #0078d7 solid 1px;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.9);
        color: #0078d7;
    }

    .containerTwo .login .col-md-12 {
        margin-top: 20px;
        position: relative;
        left: 4%;
    }

    .containerTwo .login .es-senha {
        float: right;
        margin-right: 10%;
        margin-top: 5px;
        font-size: 12px;
        //color: #0078d7;
        color: #FFF;
        font-weight:bold;
        font-family: 'Open Sans', sans-serif;
    }

    .containerTwo .login .es-senha:hover {

    }

    .containerTwo .login .row-btn .col-md-6 {
        position: relative;
        left: 4%;
    }

    .containerTwo .login .row-btn {
        margin-top: 30px;
    }

    .containerTwo .login button {
        width: 90% !important;
        height: 40px;
        border: solid 1px #0078d7;
        border-radius: 20px;
        color: #0078d7;
        margin-bottom: 10px;
    }

    .containerTwo .login button[type=submit] {
        float: right;
    }

    .containerTwo .login button[type="button"] {
        float: left;
    }

    .containerTwo .login button:hover {
        border: transparent;
        background-color: rgba(255, 255, 255, 0.9);
        color: #0078d7;
    }

    .containerTwo .login .row-btn .col-sm-6 {
        padding: 5px;
    }

    footer {
        width: 100%;
        height: auto;
        background-color: #FFF;
    }

    footer .row {
        width: 98%;
        margin-right: 0;
    }

    footer .row .col-md-4 {
        padding-top: 60px;
        text-align: center;
        width: 100%;
    }

    footer .row .logo-footer h5 {
        font-size: 12px;
    }

    footer .row .logo-footer {
        position: relative;
        left: 3%;
        top: 20px;
        padding-right: 0;
    }

    footer .row .menu-footer {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 17px;
        position: relative;
        top: 10px;
        padding-right: 22%;
        padding-left:  26%;
    }

    footer .row .menu-footer h6 {
        font-size: 15px;
        margin-left: 30px;
        font-weight: bold;
        color: black;
        text-align: left;
    }

    footer .row .menu-footer ul li {
        list-style-image: url("../img/icon/arrow-left.svg");
        margin-bottom: 10px;
        font-size: 13px;
        width: 200px;
        text-align: left;
    }

    footer .row .menu-footer ul a {
        color: black;
    }

    footer .row .menu-footer ul a:hover {
        text-decoration: none;
        color: #0078d7;
    }

    footer .row .form-footer {
        position: relative;
        right: 30px;
        height: 330px;
        text-align: center;
        width: 100% !important;
        float: right;
        padding-right: 0;
        padding-left: 0;
        position: relative;
        left: 5%;
    }

    footer .row .form-footer form {
        width: 100%;
    }

    footer .row form .row {
        height: 100px;
    }

    footer form .col-md-12 {
        padding: 0;
    }

    footer .row .form-footer h6 {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        color: black;
    }

    footer .row .form-footer input {
        width: 70%;
        height: 40px;
        font-size: 14px;
        outline: none;
        text-align: center;
        border: 1px solid #0078d7;
        border-radius: 2px;
        float: left;
        position: relative;
        left: 38px;
    }

    footer .row .form-footer button {
        height: 40px;
        border: 1px solid #0078d7;
        background-color: #0078d7;
        border-radius: 2px;
        color: #FFF;
        position: relative;
        left: 16px;
    }

    footer .row .form-footer img {
        width: 150px;
    }

    .copy h6 {
        font-size: 10px;
    }

    #cadastro {
        position: relative;
        float: left;
        width: 200px; 
        height:200px;
    }
}